.header {
  background: #242428;
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 67px;
  display: flex;
  align-items: center;
}

.left {
  padding: 0.5rem;
  margin-left: 3.5rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.noUnderlineLink {
  text-decoration: none;
}

.marginNoUnderlineLink {
  composes: noUnderlineLink;
  margin-left: 6px;
  margin-right: 2px;
}

.logo {
  height: 45px;
  margin: 0;
  margin-top: 10px;
}

.link {
  color: white;
  font-size: 44px;
  font-weight: 200;
  margin: 0;
  margin-bottom: 5px;
}
